$container-width: 1105px;
$footer-height: 222px;
$body-font: 'Open Sans', sans-serif;

* {
	margin: 0;
	padding: 0;
}


html, body {
	height: 100%;
}

ul {
	list-style: none outside none;
}

.wrapper {
  min-height: 100%;
  margin-bottom: - $footer-height;

	&:after {
		content: '';
		display: block;
		height: $footer-height;
	}
}

footer {
	height: $footer-height;
}

.container {
  margin: 0 auto;
  width: $container-width;
	@include clearfix;
}


